# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Core
wwwroot/dist/
wwwroot/lib/
wwwroot/css/
wwwroot/js/
wwwroot/fonts/

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Coverlet is a free, cross platform Code Coverage Tool
coverage*.json
coverage*.xml
coverage*.info

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Including strong name files can present a security risk
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# CodeRush personal settings
.cr/personal

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/

# Azure Stream Analytics local run output
ASALocalRun/

# MSBuild Binary and Structured Log
*.binlog

# NVidia Nsight GPU debugger configuration file
*.nvuser

# MFractors (Xamarin productivity tool) working folder
.mfractor/

# Local History for Visual Studio
.localhistory/

# BeatPulse healthcheck temp database
healthchecksdb

# Backup folder for Package Reference Convert tool in Visual Studio 2017
MigrationBackup/

# Ionide (cross platform F# VS Code tools) working folder
.ionide/

# Visual Studio Code
.vscode/

# JetBrains Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Mono auto generated files
mono_crash.*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# JetBrains Rider
*.sln.iml

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/DemoGHCP/obj/Debug/net9.0/apphost.exe
/DemoGHCP/obj/Debug/net9.0/DemoGHCP.AssemblyInfo.cs
/DemoGHCP/obj/Debug/net9.0/DemoGHCP.AssemblyInfoInputs.cache
/DemoGHCP/obj/Debug/net9.0/DemoGHCP.csproj.FileListAbsolute.txt
/DemoGHCP/obj/Debug/net9.0/DemoGHCP.dll
/DemoGHCP/obj/Debug/net9.0/DemoGHCP.GeneratedMSBuildEditorConfig.editorconfig
/DemoGHCP/obj/Debug/net9.0/DemoGHCP.pdb
/DemoGHCP/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/DemoGHCP/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/DemoGHCP/obj/Debug/net9.0/rpswa.dswa.cache.json
/DemoGHCP/obj/Debug/net9.0/ref/DemoGHCP.dll
/DemoGHCP/obj/Debug/net9.0/refint/DemoGHCP.dll
/DemoGHCP/bin/Debug/net9.0/DemoGHCP.dll
/DemoGHCP/bin/Debug/net9.0/DemoGHCP.exe
/DemoGHCP/bin/Debug/net9.0/DemoGHCP.pdb
/.vs/CopilotSnapshots/42689A41EF82124E967035096AC307D0/2D7A396C574518408BCE6B3BB6F848CD/129F0930FF24DDF43029564B738BCEBE
/.vs/CopilotSnapshots/42689A41EF82124E967035096AC307D0/2D7A396C574518408BCE6B3BB6F848CD/17961681EE258C5DDAB7C6F07A9CDDE8
/.vs/CopilotSnapshots/42689A41EF82124E967035096AC307D0/2D7A396C574518408BCE6B3BB6F848CD/2153A25A640C1FD02EDAA84D0D254444
/.vs/CopilotSnapshots/42689A41EF82124E967035096AC307D0/2D7A396C574518408BCE6B3BB6F848CD/7C94FE4FE6523AA72C12DE91697E73EF
/.vs/CopilotSnapshots/42689A41EF82124E967035096AC307D0/2D7A396C574518408BCE6B3BB6F848CD/89002231716D1787004F4140AC30569D
/.vs/CopilotSnapshots/42689A41EF82124E967035096AC307D0/2D7A396C574518408BCE6B3BB6F848CD/991A8A9E54BBAF3D6201D3A61EEB6D2A
/.vs/CopilotSnapshots/42689A41EF82124E967035096AC307D0/2D7A396C574518408BCE6B3BB6F848CD/A60D3C2705DEB743D28E56050205836F
/.vs/CopilotSnapshots/42689A41EF82124E967035096AC307D0/2D7A396C574518408BCE6B3BB6F848CD/A87B55727C12200FE3353E1A89376AF9
/.vs/CopilotSnapshots/42689A41EF82124E967035096AC307D0/2D7A396C574518408BCE6B3BB6F848CD/DF31E89C3DFFD75A4280BD35F3291842
/.vs/CopilotSnapshots/42689A41EF82124E967035096AC307D0
/.vs/DemoGHCP/copilot-chat/a555eef9/sessions/419a6842-82ef-4e12-9670-35096ac307d0
/.vs/DemoGHCP/copilot-chat/a555eef9/sessions/4d75ce07-b767-4b0c-b277-0b2c74b5b34f
/.vs/DemoGHCP/CopilotIndices/17.14.827.52834/CodeChunks.db-shm
/.vs/DemoGHCP/CopilotIndices/17.14.827.52834/CodeChunks.db-wal
/.vs/DemoGHCP/CopilotIndices/17.14.827.52834/SemanticSymbols.db-shm
/.vs/DemoGHCP/CopilotIndices/17.14.827.52834/SemanticSymbols.db-wal
*.v2
/.vs/DemoGHCP/FileContentIndex/281b818f-0458-4d50-9f40-8713e6273f58.vsidx
/.vs/DemoGHCP/FileContentIndex/2bd81604-199a-408f-87e1-5cb2aa645c0a.vsidx
/.vs/DemoGHCP/FileContentIndex/aad5135d-c6b6-48e4-a1d8-794df909a41c.vsidx
/.vs/DemoGHCP/FileContentIndex/ab3f6fae-3a73-4c19-ab5f-b529298c5d1e.vsidx
/.vs/DemoGHCP/FileContentIndex/f116f95e-6370-46f5-a77f-60a0e6f02d32.vsidx
/.vs/DemoGHCP/v17/.suo
/.vs/DemoGHCP/v17/DocumentLayout.backup.json
/.vs/DemoGHCP/v17/DocumentLayout.json
/.vs/DemoGHCP/v17/TestStore/0/000.testlog
/.vs/DemoGHCP/v17/TestStore/0/testlog.manifest
